.overall {
  display: grid;
  grid-template-columns: 159px 60rem 150px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebarr {
  margin-left: 75px;
  width: 150px;
}

.search {
  position: sticky;
  top: 50px;
}

.create {
  position: sticky;
  top: 75px
}

.content {
  margin-left: 75px;
  width: 60rem;
}

.stick {
  position: sticky;
  top: 0;
  width: 60rem;
  background-color: white;
  z-index: 10
}

.needs {
  margin: 0 0 2em 0;
  width: 60rem;
}

.needs button {
  cursor: pointer;
  background-color: #fbc7c7;
  margin: .5em;
  padding: .5em;
  border-radius: 7px;
}

.needs button:hover {
  color: #2c3a41;
  background-color: #c4b8ff;
}

.needs button:active {
  background-color: #525252;
  color: #569052;
}

table {
  table-layout: fixed;
}

th {
  font-size: 25px;
  font-family: "Times New Roman", Ariel;
  text-align: left;
  padding-bottom: 10px;
  position: sticky;
  z-index: 1;
  top: 33px;
  background-color: #e6aaaa;
}