nav a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  width: 150px;
  text-align: center;
}

.overall {
  display: grid;
  grid-template-columns: 159px 60rem 150px;
}

nav {
  top: 8px;
  position: sticky;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 150px;
}

.sidebarr {
  margin-left: 75px;
  width: 150px;
}

.content {
  margin-left: 75px;
  width: 60rem;
}

.stick {
  position: sticky;
  top: 0;
  width: 60rem;
  background-color: white;
  z-index: 10
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a:active {
  background-color: black;
}

.needs {
  margin: 0 0 2em 0;
  width: 60rem;
}

.needs li {
  display: flex;
}

.needs button {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .5em;
  border-radius: 4px;
}

.needs button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.needs button:active {
  background-color: #525252;
  color: #fafafa;
}

.needs button.selected:hover {
  background-color: #505050;
  color: white;
}

.needs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

table {
  table-layout: fixed;

}

.needs .name {
  margin: 50px;
  align-self: left;
}

.needs .description {
  align-self: right;
}

.needs th {
  font-size: 25px;
  text-align: left;
  padding-bottom: 10px;
  position: sticky;
  z-index: 1;
  top: 33px;
  background-color: #ffffff;
}