<div class="container">
    <aside class="sidebar">
        <nav>
            <a routerLink="/cupboard">Needs</a><br>
            <a routerLink="/account">Account Management</a><br>
            <a routerLink="/basket">Basket</a><br>
        </nav>
    </aside>

    <div class="content">
        <div *ngIf="isHelper">
            <button type="button" class="add-button" (click)="changeUsername(); logout()">
                Change Name
            </button>
        </div>

        <button type="button" class="add-button" (click)="changePassword(); logout()">
            Change Password
        </button>

        <button type="button" (click)="logout()">Log out</button>

        <button type="button" *ngIf="isHelper" (click)="deleteUser(); logout()">DELETE ACCOUNT</button>
    </div>
</div>