<div class="container">
    <aside class="sidebar">
        <nav>
            <a routerLink="/cupboard">Needs</a><br>
            <a routerLink="/account">Account Management</a><br>
            <a routerLink="/baskettab">Basket</a><br>
        </nav>
    </aside>

    <div class="content">
        <div *ngIf="isHelper">
            <button type="button" class="add-button" (click)="changeUsername(Name.value); Name.value=''; logout()">
                Change Name
            </button>
            <input id="new-name" #Name />
        </div>

        <button type="button" class="add-button" (click)="changePassword(Pass.value); Pass.value=''; logout()">
            Change Password
        </button>
        <input id="new-password" #Pass />

        <div class="bottom_button">
            <button type="button" (click)="logout()">Log out</button>
        </div>

        <button type="button" *ngIf="isHelper" (click)="deleteUser(); logout()">DELETE ACCOUNT</button>
    </div>
</div>