.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 150px;
}

.content {
    flex: 1;
    margin-left: 75px;
}

button {
    display: block;
    width: 150px;
    margin-bottom: 30px;
    margin-left: 400px;
}

input {
    display: block;
    margin-left: 400px;
}