.overall {
  display: grid;
  grid-template-columns: 159px 60rem auto;
}

.container {
  display: flex;
  min-height: 100vh;
}

.numbers {
  margin-left: 1em;
  font-size: larger;
}

.content {
  margin-left: 75px;
  width: 60rem;
}

.stick {
  position: sticky;
  top: 0;
  width: 50rem;
  background-color: white;
  z-index: 10
}

.needs {
  margin: 0 0 2em 0;
  width: 60rem;
}

td {
  padding: 0.2em;
}

.pie { /* https://stackoverflow.com/a/56272424 */
  width: 240px;
  height: 240px;
  margin: 20px 20px 20px 20px;
  border-radius: 50%
}