.overall {
  display: grid;
  grid-template-columns: 159px 60rem auto;
}

.container {
  display: flex;
  min-height: 100vh;
}

.numbers {
  position: fixed;
  right: 0;
  margin-right: 75px;
  font-size: larger;
}

.content {
  margin-left: 75px;
  width: 60rem;
}

.stick {
  position: sticky;
  top: 0;
  width: 50rem;
  background-color: white;
  z-index: 10
}

.needs {
  margin: 0 0 2em 0;
  width: 60rem;
}

td {
  padding: 0.2em;
}