#login-form {
    background-color: #B0B0B0;
    color:black;
    padding: 30px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
}

.title {
    font-size: 30px;
}

.login-form-input {
    font-size: inherit;
}