.overall {
  display: grid;
  grid-template-columns: 159px 60em 150px;
}

.sidebar {
  width: 150px;
}

.sidebarr {
  margin-right: 75px;
  width: 150px;
}

.search {
  position: absolute;
  top: 40px;
  font-size: large;
}

.content {
  margin-left: 100px;
}

.stick {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10
}

.users {
  margin: 0 0 2em 0;
  width: 60rem;
}

.users button {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .5em;
  border-radius: 4px;
  font-weight: bold;
}

.users button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.users button:active {
  background-color: #525252;
  color: #fafafa;
}

table {
  table-layout: fixed;
}

th {
  font-size: 40px;
  text-align: left;
  padding-bottom: 10px;
  position: sticky;
  z-index: 1;
  top: 33px;
  background-color: #ffffff;
}

tbody {
  font-size: 30px;
}

h1 {
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration: underline black;
  margin-left: 20%;
}